﻿<script src="https://masonry.desandro.com/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js"></script>

<div id="imageGalleryList">
    <input type="hidden" class="close-dialog" id="btnCloseImageGalleryList" />
    <div id="container"></div>
    <div id="images"></div>
</div>
<button class="btn btn-primary" onclick="return fnSuccess();">Success</button>
<button class="btn btn-danger" onclick="return fnError();">Error</button>

<script>
    var $thisModal = $("#imageGalleryList");
    $(document).ready(function () {
        console.log("it's open ImageGalleryList");
        $.ajax({
            url: '@Url.Action("GetImageData","Home")',
            success: function (data) {
                var list = "";
                for (var item of data) {
                    list += '<div class="item"><img src= "'+item+'" style="max-width:180px;max-height:300px"></div>';
                }
                $("#images").html(list);
                var $container = $('#container').masonry({
                    itemSelector: '.item',
                    columnWidth: 200
                });

                // reveal initial images
                $container.masonryImagesReveal($('#images').find('.item'));
            }
        })

    });


    var fnSuccess = function () {
        var result = { status: 200, message: 'All things perferct!' };
        $thisModal.trigger('dialog-success', [result]);
        $("#btnCloseImageGalleryList").click();
    }

    var fnError = function () {
        var result = { status: 500, message: 'Somethins wrong!' };
        $thisModal.trigger('dialog-error', [result]);
        $("#btnCloseImageGalleryList").click();
    }

    $.fn.masonryImagesReveal = function ($items) {
        var msnry = this.data('masonry');
        var itemSelector = msnry.options.itemSelector;
        // hide by default
        $items.hide();
        // append to container
        this.append($items);
        $items.imagesLoaded().progress(function (imgLoad, image) {
            // get item
            // image is imagesLoaded class, not <img>, <img> is image.img
            var $item = $(image.img).parents(itemSelector);
            
            // un-hide item
            $item.show();
            // masonry does its thing
            msnry.appended($item);
        });

        return this;
    };
</script>