﻿@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/plugins/simple-cropper/css/style.css" rel="stylesheet" />
<link href="~/Content/plugins/simple-cropper/css/jquery.Jcrop.css" rel="stylesheet" />
<style>
    #fileInput {
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .cropme {
        float: left;
        background-color: #f1f1f1;
        margin-bottom: 5px;
        margin-right: 5px;
        background-image: url(Content/plugins/simple-cropper/images/UploadLight.png);
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

        .cropme:hover {
            background-image: url(Content/plugins/simple-cropper/images/UploadDark.png);
        }
</style>
<div class="jumbotron">
    <h1>
        Thumbnail Generator <button class="btn btn-primary" onclick="return fnOpenImagesModal();">Images</button>
    </h1>
</div>

<div class="row">
    <div class="col-12">
        <div class="js-fileapi-wrapper upload-btn">
            <div class="upload-btn__txt">Choose files</div>
            <div class="cropme" data-id="1" style="width: 180px; height: 300px; float:left;"></div>
            <div class="cropme" data-id="2" style="width: 180px; height: 300px; float:left;"></div>
            <div class="cropme" data-id="3" style="width: 180px; height: 300px; float:left;"></div>
            <div class="cropme" data-id="4" style="width: 180px; height: 300px; float:left;"></div>
            <div class="cropme" data-id="5" style="width: 180px; height: 300px; float:left;"></div>
        </div>
        <div id="images"><!-- previews --></div>
    </div>
</div>

@section scripts{
    <script src="~/Content/plugins/simple-cropper/scripts/jquery.Jcrop.js"></script>
    <script src="~/Content/plugins/simple-cropper/scripts/jquery.SimpleCropper.js"></script>
    <script>
        function base64ImageToBlob(str) {
            // extract content type and base64 payload from original string
            var pos = str.indexOf(';base64,');
            var type = str.substring(5, pos);
            var b64 = str.substr(pos + 8);

            // decode base64
            var imageContent = atob(b64);

            // create an ArrayBuffer and a view (as unsigned 8-bit)
            var buffer = new ArrayBuffer(imageContent.length);
            var view = new Uint8Array(buffer);

            // fill the view, using the decoded base64
            for (var n = 0; n < imageContent.length; n++) {
                view[n] = imageContent.charCodeAt(n);
            }

            // convert ArrayBuffer to Blob
            var blob = new Blob([buffer], { type: type });

            return blob;
        }

        function fnOpenImagesModal() {
            console.log("fnOpenImagesModal clicked");

            $.ajax({
                url: '@Url.Action("ImageGalleryList","Home")',
                success: function (result) {
                    openModal(result, {
                        title: 'Image Galery',
                        width: 1200,
                        success: function (e,result) {
                            console.log("image galery modal success result:",result);
                        },
                        error: function (e,result) {
                            console.log("image galery modal error result:", result);
                        }

                    });
                }
            })

            return false;
        }
        var tdata = [];
        $(document).ready(function () {
            // Init Simple Cropper
            $('.cropme').simpleCropper(function (data) {
                console.log('TEST1?', data);

                //tdata = base64ImageToBlob(data.original.base64);
                //var formData = new FormData();
                //formData.append("file", tdata);

                $.ajax({
                    url: '/api/v1/file/upload',
                    type: 'POST',
                    data: JSON.stringify(data),
                    processData: false,
                    async: false,
                    contentType: 'application/json',
                    complete: function (data) {
                        console.log(data.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });

            });

        });
    </script>
}