﻿
@{
    ViewBag.Title = "SelectList";
}

<h2 style="text-align:center">Select2 Multiple Using </h2><br />
<div class="wrapper-content">
    @*<div class="title">Single select boxes</div>*@
    <select class="js-example-basic-single" name="state"></select>
</div>
@section scripts{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/select2-flat-thema.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetSelectData","Home")',
                success: function (data) {
                    console.log("result", data);
                    var selectData = $.map(data, function (val) {
                        var selected = "";
                        if (val.Selected) {
                            selected = "selected";
                        }
                        return { text: val.Text, id: val.Value, selected: selected };
                    });
                    console.log("selectData", selectData);
                    $('.js-example-basic-single').select2({
                        data: selectData,
                        multiple: true,
                        tags: true,
                        theme: "flat"
                    });
                }
            })


        });
    </script>
}
